spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/arquitetura_hexagonal
    username: postgres
    password: root

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate:
      default_schema: ${DB_SCHEMA:public}
